div {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.maskImage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 5px;
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
    line-height: 40px;
    width: 655px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
div.picture::after {
    content: "";
    position: absolute;
    border-bottom: 2px dotted black;
    border-right: 2px dotted black;
}
div.picture::before {
    content: "";
    position: absolute;
    border-top: 2px dotted black;
    border-left: 2px dotted black;

}